<div id="main_content">
        <div class="container">
            <fieldset>
                <legend>
                    <span><i class="fa fa-comment"></i></span>              
                </legend>
                <div>
                    <div id="chatbox">
                      <p class="botText"><span>नमस्ते</span></p>
                    </div>
                    <div id="userInput">
                      <input id="textInput" type="text" name="msg" placeholder="Message">
                      <input id="buttonInput" type="submit" value="Send">
                    </div>
                  </div>
    
            </fieldset>
    
        </div>
    
    </div>