
<div id="main_content">
    <div class="container">
        <fieldset>
            <legend>
                <span><i class="fa fa-home"></i></span>              
            </legend>
            <div class="row">
                <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.kinja-img.com/gawker-media/image/upload/s--0ac3U8hC--/18j14bx9jpy14jpg.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h3 class="card-title">No of Therapist Consulted</h3>
                                  <p class="card-text">So far we have helped about 500 people overcome stress using our bot.</p>
                                </div>
                              </div>
                </div>
                <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/P_culture.svg/220px-P_culture.svg.png" alt="Card image cap">
                                <div class="card-body">
                                  <h3 class="card-title">Average Mood</h3>
                                  <p class="card-text">The average mood of a person generally becomes happier than earlier after having a relaxation chat with the bot.</p>
                                </div>
                              </div>
                </div>
                <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="http://mediad.publicbroadcasting.net/p/klcc/files/styles/medium/public/201610/contact-us.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h3 class="card-title">Contact Us</h3>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                </div>
            </div>

        </fieldset>

    </div>

</div>